<a href="https://colab.research.google.com/github/moonmingyu/sm-/blob/master/ch4/ch4_02_user_io.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# 사용자 입력과 출력

## 사용자의 입력을 받는 방법과 출력하는 방법

## 사용자 입력

**사용자가 입력한 값을 어떤 변수에 대입**

### input의 사용

In [1]:
a = input()
a

Life is too short, you need python

'Life is too short, you need python'

### **입력 안내 문구를 이용한 input의 사용**

input("안내 문구")

In [2]:
number = input("숫자를 입력하세요: ")

print(number)

숫자를 입력하세요: 123
123

### 사용자 출력: print()

입력한 자료형을 출력

### print의 사용

In [3]:
a = 123
print(a)

123

In [4]:
a = "Python"
print(a)

Python

In [5]:
a = [1, 2, 3]
print(a)

[1, 2, 3]

### 큰따옴표(\")로 둘러싸인 문자열은 + 연산과 동일

In [6]:
print("life" "is" "too short")
print("life"+"is"+"too short")

lifeistoo short
lifeistoo short

### 문자열 띄어쓰기는 콤마로 한다

In [7]:
print("life", "is", "too short")
print("life"+" is" + " too short")

life is too short
life is too short

### 한 줄에 결괏값 출력하기

In [8]:
for i in range(10):
    print(i, end=' ')  # 한칸 띄우고 한줄로 출력된다

0 1 2 3 4 5 6 7 8 9