<a href="https://colab.research.google.com/github/moonmingyu/sm-/blob/master/week2/ch2_02_string.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# **파이썬 데이터 문자열**

## **파이썬 문자열형식**

In [1]:
# "Life is too short, you need python"
# 'Life is too short, you need python'
# """Life is too short, you need python""" -> 두줄이상의 문자열을 담을때 사용
# '''Life is too short, you need python'''
# ''가 디폴트로 사용됨

print("문자열: '")
food = "Python's favorite food is perl"
# ""안에있는'는 문자로 취급
food

문자열: '

"Python's favorite food is perl"

In [3]:
food = 'Python's favorite food is perl'  # Error
# ''안에 '을 넣으면 앞에'까지만 문자열로 끊어버림 -> 뒤에문장들은 에러

SyntaxError: ignored

In [5]:
say = '"Python is very easy." he says.'
# ''안에 " "를 넣으면 "를 문자열로 취급"
print(say)

"Python is very easy." he says.

## **특수문자로 사용**

In [8]:
print("문자열: \ 이용")
food = 'Python\'s favorite food is perl'
    # 중앙에있는 '가 특수코드라는걸 표시하기 위해 \를 사용
say = "\"Python is very easy.\" he says."
    # 마찬가지로 "를 \를 이용해 문자따움표로 지정
print(food)
print(say)

문자열: \ 이용
Python's favorite food is perl
"Python is very easy." he says.

## **이스케이프 코드**

In [11]:
# 이스케이프 코드
print("문자열: 이스케이프 코드 이용")
multiline = "Life is too short\nYou need python"
multiline
print(multiline)
# 그냥 multiline 을쓰면 \n문자 그대로나오는데 print 함수를 이용해 출력하면 \n 줄바꾸기 기능이 적용됨
# 여러줄 문자열 처리
multiline = '''
... Life is too short
... You need python
... '''                 # '''   '''안에서 enter치면 줄바뀐다
multiline #  줄이 안바뀌고 \n으로 표시된다
print(multiline)

문자열: 이스케이프 코드 이용
Life is too short
You need python

... Life is too short
... You need python
...

## **문자열 더하기와 곱하기**

In [12]:
################################################
print("문자열 연산: 더하기")
head = "Python"
tail = " is fun!"
head + tail #두개의 문자열을 합친다

print("문자열 연산: 곱하기")
a = "python"
a * 2 # 문자열을 2번 붙여서 출력

#####################################
# multistring.py
print("=" * 50)
print("I am now coding Python!")
print("=" * 50)
#####################################

문자열 연산: 더하기
문자열 연산: 곱하기
==================================================
I am now coding Python!
==================================================

## **문자열 길이 구하기**

In [18]:
# 내장함수: len()
print("문자열 연산: 길이 구하기 - len()")
a = "Life is too short"
print(a)
len(a) # 문자열의 공백포함 char 갯수를 구한다

문자열 연산: 길이 구하기 - len()
Life is too short

17

## **문자열 인덱싱**

In [17]:
#####################################
#
# 문자열 인덱싱과 슬라이싱
#
#####################################
print("문자열: 인덱싱이란?") 
a = "Life is too short, You need Python"
print(a)
print(a[3]) # 0부터 시작해서 3번째 위치에있는 e 출력
print(a[15]) # 0부터 시작해 15번째에 위치하는 r 출력
# "파이썬은 0부터 숫자를 센다."

문자열: 인덱싱이란?
Life is too short, You need Python
e
r

## **인덱싱 활용**

In [21]:
print("문자열: 인덱싱 활용")

a = "Life is too short, You need Python"
print(a[0])
print(a[12])
print(a[-1])
print(a[-2])
print(a[-5])
print(a[-0]) #  a[-0] 은 a[0] 과 같다
print(a[-12])
# a[-0]
# a[-] 는 문자열 뒤에서부터

문자열: 인덱싱 활용
L
s
n
o
y
L

## **문자열 슬라이싱**

In [25]:
#####################################
print("문자열: 슬라이싱이란?")
a = "Life is too short, You need Python"
print(a)
# Life 를 뽑아낼려면 어떻게?
b = a[0] + a[1] + a[2] + a[3]  # 문자열 뎌하기 연산
print(b)
# slicing (슬라이싱)
print(a[0:4])  # 0 <= index < 4
print(a[0:5]) #0~4
print(a[5:7]) #5~6
print(a[12:17])
# : 의 사용
print(a[:4]) # start가 지정안되면 제일처음부터
print(a[19:]) # end가 지정안되면 제일끝까지
print(a[:17])

print(a[:]) # 전체

# a[19:-7] ? -> index 19부터 뒤에서 7번째전까지
print(a[19:-7])

문자열: 슬라이싱이란?
Life is too short, You need Python
Life
Life
Life
is
short
Life
You need Python
Life is too short
Life is too short, You need Python
You need

## **문자열 슬라이싱 응용**

In [31]:

print("문자열: 슬라이싱 응용?")
a = "20190909Sunny"
print(a)
date = a[:8]
weather = a[8:]
print(date)
print(weather)

문자열: 슬라이싱 응용?
20190909Sunny
20190909
Sunny

In [32]:


a = "20190917Rainy"
print(a)
year = a[:4]
day = a[4:8]
weather = a[8:]
print(year,day,weather)

20190917Rainy
2019 0917 Rainy

## **문자열에 입력된 값 수정하기**

In [36]:
# "Pithon"이라는 문자열을 "Python"으로 바꾸려면?
a = "Pithon"
print(a)
a[1]
a[1] = 'y'  # Error (immutable(불변)한 자료형 이라서 고칠수가없다

Pithon

TypeError: ignored

In [35]:
#################
a = "Pithon"
a[:1]
a[2:]
a[:1] + 'y' + a[2:]  # Python -> 문자열을 쪼개서 문자 변경후 다시 합쳤다

'Python'

## **문자열 포매팅**

In [39]:

print("문자열: 포매팅이란?")
# 1. 숫자 바로 대입
print("I eat %d apples." % 3) # % 3이 %d 에 바로 대입됨

# 2. 문자열 바로 대입
print("I eat %s apples." % "five") # 문자열이아닌 그냥 five 로하면 에러발생

# 3. 숫자 값을 나타내는 변수로 대입
number = 3
"I eat %d apples." % number

문자열: 포매팅이란?
I eat 3 apples.
I eat five apples.

'I eat 3 apples.'

## **2개이상의 값넣기**

In [40]:
number = 10
day = "three"
print("I ate %d apples. so I was sick for %s days." % number , day)   # 안묶어주면 Error

TypeError: ignored

In [41]:

"I ate %d apples. so I was sick for %s days." % (number, day)
# 소괄호 안에 콤마(,)로 구분하여 각각의 값을 넣어 준다.

'I ate 10 apples. so I was sick for three days.'

## **문자열 포멧 코드**

In [44]:
print("문자열: 포맷 코드")
# %d, %s, %c, %f, %o, %x, %%->%를 출력하고싶을때
# %s, 묵시적 형변환
"I have %s apples" % 3 # 숫자를 문자열로 형변환해서 대입해줌

문자열: 포맷 코드

'I have 3 apples'

In [45]:
"rate is %s" % 3.234 # 실수도 형변환해서 대입

'rate is 3.234'

In [46]:
"Error is %d%." % 98 # %를 출력하고싶을때 %한개만쓰면 에러

ValueError: ignored

In [47]:

"Error is %d%%." % 98

'Error is 98%.'

## **포멧코드와 숫자 함께사용하기**

### **정렬과 공백**

In [51]:
###############################################-p60
print("문자열: 포맷 코드와 숫자 함께 사용하기")
# 1. 정렬과 공백
"%10s" % "hi" #10칸을 잡고 hi를 출력

문자열: 포맷 코드와 숫자 함께 사용하기

'        hi'

In [52]:
"%-10sjane." % "hi" # %-10s -> 10칸을 잡아서 hi를 앞에서 출력

'hi        jane.'

### **소숫점 표현하기**

In [53]:

# 2. 소수점 표현하기
"%0.4f" % 3.42134234 # 소숫점이하 4째자리까지 출력

'3.4213'

In [54]:

"%10.4f" % 3.42134234 # 10칸을 잡고 소숫점이하 4째 자리까지 출력

'    3.4213'

## **format함수를 이용한 포메팅**

### **숫자바로 대입하기**

In [0]:
print("문자열: format 함수를 사용한 포매팅")
# 1. 숫자 바로 대입하기
"I eat {0} apples".format(3)
"I eat {0} {1} apples".format(3, 4) # {0}에는 3 {1}에는 4대입됨

### **문자열 바로 대입하기**

In [55]:

# 2. 문자열 바로 대입하기
print("I eat {0} apples".format("five"))
print("I eat {0} apples from {1} boxes".format("five", "three"))  #앞에꺼와 갯수를맞춘 값들을 대입

I eat five apples
I eat five apples from three boxes

### **숫자 값을 가진 변수로 대입하기**

In [57]:
# 3. 숫자 값을 가진 변수로 대입하기
number = 3
print("I eat {0} apples".format(number))
print("I eat {0} apples".format(number + 1)) # 연산을해서 4가들어간다

I eat 3 apples
I eat 4 apples

### **2개 이상의 값 넣기**

In [58]:
# 2개 이상의 값 넣기
number = 10
day = "three"
print("I ate {0} apples. so I was sick for {1} days.".format(number, day))
# 이름으로 넣기
print("I ate {number} apples. so I was sick for {day} days.".format(number=10, day=3))
# 인덱스와 이름을 혼용해서 넣기
print("I ate {0} apples. so I was sick for {day} days.".format(10, day=3)) # 숫자랑 변수를 섞어서 써도 알아서 처리해준다
#

I ate 10 apples. so I was sick for three days.
I ate 10 apples. so I was sick for 3 days.
I ate 10 apples. so I was sick for 3 days.

## **문자열 정렬**

In [61]:
######################################
# 왼쪽 정렬/ 오른쪽 정렬
print("{0:<10}".format("hi")) #{0:<10} 10칸을잡아 좌측정렬
print("{0:>10}".format("hi")) 
# 가운데 정렬
print("{0:^10}".format("hi"))
# 공백 채우기
print("{0:=^10}".format("hi")) #{0:=^10} 10칸을 가운데정렬하고 빈칸을 =로 채운다
print("{0:!<10}".format("hi"))
# 도전하기
print("{0:<10}{1:>10}".format("hi",'comsi'))

#########################################

hi
        hi
    hi
====hi====
hi!!!!!!!!
hi             comsi

## **소수점 표현하기**

In [62]:
# 소수점 표현하기
y = 3.42134234
"{0:0.4f}".format(y)

'3.4213'

In [63]:
"{0:10.4f}".format(y)

'    3.4213'

In [64]:

# { 또는 } 문자 표현하기
"{{ and }}".format() # {{}}하면 {}하나가 문자열로 처리

##########################
##### f 문자열 포매팅 #####
##### .format() 대체
##########################

'{ and }'

## **f 문자열 포매팅**

In [65]:
print("문자열: f 문자열 포매팅")
name = "홍길동"
age = 30
f"나의 이름은 {name}입니다. 나이는 {age}입니다." #앞에 f 붙이면 formet함수로 실행이된다

문자열: f 문자열 포매팅

'나의 이름은 홍길동입니다. 나이는 30입니다.'

In [66]:
age = 30
f"나는 내년이면 {age+1}살이 된다."

'나는 내년이면 31살이 된다.'

In [67]:
# 딕셔너리는 f 문자열 포매팅에서 다음과 같이 사용
d = {"name": "홍길동", "age": 30}
f'나의 이름은 {d["name"]}입니다. 나이는 {d["age"]}입니다.' # d 라는 키값을 이용

'나의 이름은 홍길동입니다. 나이는 30입니다.'

### **f 문자열 정렬**

In [71]:
f'{"hi":<10}'  # 왼쪽 정렬

'hi        '

In [72]:
f'{"hi":>10}'  # 오른쪽 정렬

'        hi'

In [73]:
f'{"hi":^10}'  # 가운데 정렬

'    hi    '

### **공백 채우기**

In [68]:
# 공백 채우기
y = 3.42134234
f"{y:0.4f}"  # 소수점 4자리까지만 표현

'3.4213'

In [70]:
f"{y:10.4f}"  # 소수점 4자리까지 표현하고 총 자리수를 10으로 맞춤

'    3.4213'

In [69]:
# { } 문자를 표시
f"{{ and }}"

'{ and }'

# **문자열 관련 내장함수**

### **문자 갯수세기**

In [78]:
##############################################
print("문자열: 관련 내장 함수들")
# 문자 개수 세기(count)
a = "hobby"
a.count("b")   #  b의 갯수

문자열: 관련 내장 함수들

2

### **find를 이용하여 글자의 위치 찾기**

In [80]:
# 위치 알려주기1(find)
a = "Python is the best choice"
a.find("b")  # b라는 글자의 위치를 가르쳐준다

14

In [75]:
a.find("k")  # what value? k가 없으면 -1이 출력된다
# 위치 알려주기2(index)

-1

### **index를 이용하여 글자의 위치 찾기**

In [76]:
a = "Life is too short"
a.index("t")

8

In [77]:
a.index("k") # index 함수는 해당문자가 없으면 에러로 출력된다.

ValueError: ignored

### **문자열 삽입**

In [81]:
# 문자열 삽입(join)
",".join("abcd")

'a,b,c,d'

In [82]:
",".join(["a", "b", "c", "d"])

'a,b,c,d'

### **소문자를 대문자로 대문자를 소문자로**

In [0]:
# 소문자를 대문자로 바꾸기(upper)
a = "hi"
a.upper()

In [0]:

# 대문자를 소문자로 바꾸기(lower)
a = "IoT"
a.lower()

### **공백 지우기**

In [83]:
# 왼쪽 공백 지우기(lstrip)
a = " hi "
a.lstrip()

'hi '

In [0]:

# 오른쪽 공백 지우기(rstrip)
a.rstrip()

In [85]:

# 양쪽 공백 지우기(strip)
a.strip()

'hi'

### **문자열 바꾸기**

In [86]:
# 문자열 바꾸기(replace)
a = "Life is too short"
a.replace("Life", "Your leg")

'Your leg is too short'

### **문자열 나누기**

In [88]:
# 문자열 나누기(split) -> 리스트로 변환하여 반환
a = "Life is too short"
a.split() # split()안에 있는 문자 기준으로 나눈다

['Life', 'is', 'too', 'short']

In [89]:

b = "a:b:c:d"
b.split(":")

['a', 'b', 'c', 'd']

### **ex**

In [90]:
#### 도전하기 #####
# format 함수 또는 f 문자열 포매팅을 이용해서 '!!!python!!!' 문자열을 출력해보시오.
"{0:!^12}".format("python")
f'{"python":!^12}'

'!!!python!!!'