<a href="https://colab.research.google.com/github/moonmingyu/sm-/blob/master/ch02/ch2_04_tuple.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# **튜플**

### **튜플이란?**

In [0]:
# 리스트는 [ ]으로 둘러싸지만 튜플은 ( )으로 둘러싼다.
# 리스트는 그 값의 생성, 삭제, 수정이 가능하지만 튜플은 그 값을 바꿀 수 없다.

even = (2, 4, 6, 8)
# 여러 가지 튜플
t1 = ()  # 튜플 초기화
t2 = (1,)
t3 = (1, 2, 3)
t4 = 1, 2, 3
t5 = ("a", "b", ("ab", "cd"))
# t2 = (1,)처럼 단지 1개의 요소만을 가질 때는 요소 뒤에
# 콤마(,)를 반드시 붙여야 한다는 것과
# 요소가 2개이상일때는 끝에 ,를 붙이면 안된다
# t4 = 1, 2, 3처럼 괄호( )를 생략해도 무방하다.

### **튜플의 요소값을 지우거나 변경하면?**

**1. 튜플 요솟값을 삭제하려 할 때**

In [2]:
t1 = (1, 2, "a", "b")
del t1[0]  # Error -> 값 삭제불가

TypeError: ignored

**2. 튜플 요솟값을 변경하려 할 때**

In [0]:
t1[0] = "c"  # TypeError -> 튜플은 요소값 변경불가

### **튜플 사용방법**

**튜플 인덱싱하기**

In [0]:
t1 = (1, 2, "a", "b")
t1[0]
t1[3]

**튜플 슬라이싱하기**

In [0]:
t1 = (1, 2, "a", "b")
t1[1:]
t1[2:-1]  # ('a',) 가 나온다 튜플 단일요소때 마지막에 콤마무조건
t1[2:]

**튜플 더하기**

In [3]:
t1 = (1, 2, "a", "b")
t2 = (3, 4)
t1 + t2

(1, 2, 'a', 'b', 3, 4)

**튜플 곱하기**

In [5]:
t2 = (3, 4)
id(t2) # 주소값이 나온다

140037468989512

In [6]:
t2 * 3
id(t2)

140037468989512

In [7]:
# t2 를 재정의 하면 새로운 주소가 나온다
t2 = t2 * 3
id(t2)

140037468492424

**튜플 길이구하기**

In [0]:

t1 = (1, 2, "a", "b")
len(t1)