<a href="https://colab.research.google.com/github/moonmingyu/sm-/blob/master/ch02/ch2_06_set.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# **Set**

## **set이란?**

In [1]:
# 집합에 관련된 것을 쉽게 처리하기 위해 만든 자료형
# 중복된 값을 허용하지 않는다.
# set 키워드를 사용해서 집합자료형을 만든다.
s1 = set([1, 2, 3])
s1

{1, 2, 3}

In [2]:
s1n = set([1, 2, 3, 2]) # 중복된 값이 있으면 하나만 맴버로 가져온다
s1n

{1, 2, 3}

In [3]:
s2 = set("Hello") 
s2

{'H', 'e', 'l', 'o'}

In [0]:
# 집합 자료형의 특징
# 1. 중복을 허용하지 않는다.
# 2. 순서가 없다(Unordered). -> 순서가 지멋대로다
# *** set 자료형은 순서가 없기(unordered) 때문에 인덱싱으로 값을 얻을 수 없다.
#
s1 = set([1,2,3])
s1[0] #순서가 없으니 당연히 인덱싱이 안되고 에러가 뜬다

**리스트로 바꿔 인덱스뽑아내기**

In [4]:
l1=list(s1)
l1
l1[0] #set을 리스트로 바꿔주고 거기서 인덱스를 뽑아내야된다

1

**튜플로 변환해 인덱스뽑아내기**

In [5]:
t1=tuple(s1)
t1
t1[0] # 튜플로 바꿔줘서 인덱스를 뽑아줘도된다

1

## **교집합, 합집합, 차집합 구하기**

In [6]:
s1 = set([1, 2, 3, 4, 5, 6])
s2 = set([4, 5, 6, 7, 8, 9])

{4, 5, 6}

**교집합**

In [0]:
s1 & s2 #s1과 s2에서 겹치는거만 찾아낸다

In [7]:
s1.intersection(s2)

{4, 5, 6}

**합집합**

In [0]:
s1 | s2

In [0]:
s1.union(s2)

**차집합**

In [12]:
s1 - s2 #s1중에 s2와 안겹치는거만 뽑아냄

{1, 2, 3}

In [8]:

s2 - s1

{7, 8, 9}

In [11]:
s1.difference(s2)

{1, 2, 3}

In [10]:
s2.difference(s1)

{7, 8, 9}

## **집합 (set): 관련 내장 함수들**

In [13]:
# 값 1개 추가하기(add)
s1 = set([1, 2, 3])
s1.add(4)
s1

{1, 2, 3, 4}

In [0]:
# 값 여러 개 추가하기(update)
s1 = set([1, 2, 3])
s1.update([4,5,6])
s1

In [0]:
# 특정 값 제거하기(remove)
s1 = set([1, 2, 3])
s1.remove(2)
s1

In [0]:
#################################################
# 기본적인 반복(iterate) 구문(예: for문)을 실행
#################################################
a = {'name': 'pey', 'phone': '0119993323', 'birth': '1118'}
for k in a.keys():
    print(k)

In [0]:
# Value 리스트 만들기(values)
a.values()

In [0]:
# Key, Value 쌍 얻기(items)
a.items()  # Key와 Value의 쌍을 튜플로 묶은 값을 dict_items 객체로 돌려준다.

In [0]:
# Key: Value 쌍 모두 지우기(clear)
a.clear()
a

In [0]:

# Key로 Value얻기(get)
a = {'name': 'pey', 'phone': '0119993323', 'birth': '1118'}
a.get('name')    # a['name']

In [0]:
a.get('phone')   # a['phone']

In [0]:
a = {'name': 'pey', 'phone': '0119993323', 'birth': '1118'}
print(a['nokey'])

In [0]:
# get(x, '디폴트 값')
# 딕셔너리 안에 찾으려는 Key 값이 없을 경우
# 미리 정해 둔 디폴트 값을 대신 가져오게 설정.
#
a.get('foo', 'bar')

In [0]:
a.get('name', 'bar')

In [0]:
# 해당 Key가 딕셔너리 안에 있는지 조사하기(in)
a = {'name': 'pey', 'phone': '0119993323', 'birth': '1118'}
'name' in a

In [0]:
'foo' in a