<a href="https://colab.research.google.com/github/moonmingyu/sm-/blob/master/ch02/ch2_exercises.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# **연습문제**

## **Q1 홍길동씨의 과목별 점수는 다음과 같다. 홍길동씨의 평균점수를 구해보자**

**과목  점수**
 
 국어    80
 
 영어    75

 수학    55

### 리스트

In [13]:
sc = [80,75,55]
avg = (sc[0]+sc[1]+sc[2])/3
avg

70.0

### 딕셔너리

In [10]:
score = {"국어": 80,"영어": 75,"수학": 55}
avg = (score["국어"] + score["영어"] + score["수학"])/3
avg

70.0

### 튜플

In [15]:
sc = (80,75,55)
avg = (sc[0]+sc[1]+sc[2])/len(sc)
avg

70.0

## Q2 자연수 13이 홀수인지 짝수인지 판별할수있는 방법

In [33]:
if 13%2==1:
  print("홀수")
else:
  print("짝수")

홀수

## **Q3 홍길동씨의 주민번호는 881120-1068234이다**
##**길동씨의 주민번호를 연월일과 주민뒷자리로 나눠서 출력해보자**

In [37]:
pin = "881120-1068234"
yyyymmdd = pin[0:6]
num = pin[7:]
print(yyyymmdd)
print(num)

881120
1068234

## Q4 주민번호 뒷자리의 맨첫번째숫자는 성별을 나타낸다. 주민번호에서 성별을 나타내는 숫자를 출력해보자

In [38]:
pin = "881120-1068234"
print(pin[7])

1

## Q5 다음과같은 문자열 a:b:c:d 가있다. 문자열의 replace 함수를 이용하여 a#b#c#d로 바꿔서 출력해보자

In [40]:
a="a:b:c:d"
b=a.replace(":","#") # replace(바뀌게될 문자열, 바꿀문자열)
b

'a#b#c#d'

## Q6 [1,3,5,4,2] 리스트를 [5,4,3,2,1]로 만들어보자

In [43]:
a=[1,3,5,4,2]
a.sort()   #a.sort() -> a 리스트를 순서대로 정렬해준다
a.reverse()   #a.reverse() - > 리스트를 역순으로 뒤집어준다
print(a)

[5, 4, 3, 2, 1]

## Q7 ['Life', 'is', 'too', 'short']리스트를 Life is too short 문자열로 만들어 출력해보자

In [60]:
a=['Life','is','too',"short"]
result = " ".join(a) #a에 " "를 삽입하여 문자열로 만듬
print(result)

Life is too short

## Q8 (1,2,3) 튜플에 값4를 추가하여 (1,2,3,4)를 만들어 출력해보자

In [48]:
a=(1,2,3)
a=a+(4,) # 튜플의 단일요소만 가지는 것은 뒤에 콤마붙여야됨
a

(1, 2, 3, 4)

## Q9 다음과같은 딕셔너리 a 가있다

> **a=dict()** 

> **a**

> **{}** 

### 다음중 오류가 발생하는 경우를 고르고 그이유를 설명해보자

In [53]:
a=dict()
a
{}


a['name']='python'
a

{'name': 'python'}

In [54]:
a[('a',)] = 'python'
a

{('a',): 'python', 'name': 'python'}

In [55]:
a[[1]] = 'python'             #오류-리스트는 키값으로 사용할수없다
a

TypeError: ignored

In [57]:
a[250] = 'python'
a

{('a',): 'python', 250: 'python', 'name': 'python'}

## Q10 딕셔너리 a에서 'B'에 해당하는 값을 추출해보자

In [63]:
a={'A':90, 'B':80, 'c':70}
result = a.pop('B')    #a.pop은 a에서 ('B')의 값을 돌려주고 그요소는 삭제한다
print(a)
print(result)

{'A': 90, 'c': 70}
80

## Q11 a리스트에서 중복 숫자를 제거해보자

In [65]:
a=[1,1,1,2,2,3,3,3,4,4,5]
aSet = set(a)  #set 집합자료형은 중복을 허용하지 않는다
b=list(aSet)   #집합자료형을 다시 리스트형으로 돌려놓는다
print(b)

[1, 2, 3, 4, 5]

## Q12 파이썬은 동일한 값에 여러개의 변수를 선언할수있다. 다음과같이 a,b변수 선언후 a의 두번째요솟값을 변경하면 b값은 어떻게될까? 그리고 이런 결과가 나오는 이유에 대해 설명해보자

In [68]:
a=b=[1,2,3]
print(id(a))
print(id(b))

139852378657608
139852378657608

**[1,2,3]을 참조하는 변수 a,b의 아이디가 같다 즉 a가 가리키는 대상과 b가 가리키는 대상이 같다**

In [69]:
a[1]=4
print(b)

[1, 4, 3]

**a 만바꿨음에도 불구하고 b도 바뀌었다 -> a와 b가 동일한 리스트를 가지곡 있기 때문이다**

In [70]:
a = [1,2,3]
b = a[:]
a[1] = 4
print(a)
print(b)

[1, 4, 3]
[1, 2, 3]

**b를 리스트 a의 처음부터 끝까지 슬라이싱해서 복사를하면 a의 리스트값을 바꾸더라도 b에 영향끼치지않는다**

In [73]:
from copy import copy
a=[1,2,3]
b=copy(a)
print(a)
print(b)
a is b

[1, 2, 3]
[1, 2, 3]

False

**copy 모듈을 이용해 복사를 해도 b = a[:]와 같이 두변수가 같은값을 가지면서 다른객체를 생성한다**